.resultCard {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    box-shadow: 0.1em 0.1em black;
}

.MuiPaper-root {
    display: flex;
    justify-self: center;
}

.result__heading a {
    font-size: medium;
    text-decoration: none;
    color: black;
}

.result__year a {
    text-decoration: none;
    color: black;
}

.result__poster  {
    display: flex;
    height: 17em;
    margin: 1em;
    justify-content: center;
}

img {
    border-radius: 5%;

}
