.searchForm {
    display: flex;
    justify-content: end;
    background-color: #fff;
    border-radius: 2%;
}

.searchForm__icon {
    color: black;
    padding: 1vh;
}


.toolbar {
    justify-content: space-between;
}