.App {
  text-align: center;
  padding-top: 12vh;
  /* background-image: url(./images/back.jpg);
  background-attachment:fixed;
  background-size: cover;
  height: 100vh; */
}

.AppBtn {
  background-color: pink;
  height: 6vh;
  width: 26vw;
  border-radius: 6%;
  border: none;
  box-shadow: rgba(168, 109, 119, 0.664) 6px 5px 6px 5px;
  margin: 3vh;
  margin-top: 5vh;
  font-size: medium;

}

.MuiToolbar-root {
  background-color: rgba(168, 109, 119, 0.74);
  padding: 1vh;
}

.appSpace {
  height: 75vh;
}


