.App {
  text-align: center;
  padding-top: 12vh;
}

.AppBtn {
  background-color: pink;
  height: 6vh;
  width: 26vw;
  border-radius: 6%;
  border: none;
  box-shadow: rgba(168, 109, 119, 0.664) 6px 5px 6px 5px;
  margin-bottom: 3vh;
}

.MuiToolbar-root {
  background-color: rgba(168, 109, 119, 0.836);
  padding: 1vh;
}



